  /* 
	
	selector {
      property: value;
	}

	*/

	p a {} /* any anchor that's a child of a paragraph */

	#primary p a .foobar {} /*class foobar, inside and anchor, inside a paragraph, inside something with id primary*/

	p#primary {} /* paragraph with id 'primary' though that's redundant because there's only one element with a particular id */

	p.cars {} /* paragraph with class cars */

	* { /* reset browser defaults */
		padding:0px;
		margin:0px;
		box-sizing:border-box;
	}

	div {
		background: green;
	}

	body {
		font-family: Helvetica, Arial, sans-serif;
		color: red;
	}

	h1, h2 {
		color: pink;
	}

	ul {
		font-family: monospace;
	}



